@addTagHelper *, MSITTeam1
@model MSITTeam1.ViewModels.ResumeSendAndCompanyRespondViewModel

@{
    ViewData["Title"] = "StudentResumeDetail";
}

<div class="container-fluid p-4" style="background:#EFEFEF">
    <div class="container">
        <h2 class="pt-3"><span class="icon icon-star-large"></span> 應徵職缺：@Model.JobName <span class="icon icon-reply-large"></span><span class="icon icon-delete-large"></span></h2>
       <hr />
        <div class="meta-data p-3">
            <p>
                <span class="font-weight-bold color-blue">
                    @Model.StudentName
                </span>寄來的求職信<br />
                <span class="date pr-3">建立日期：@(Convert.ToDateTime(Model.ResumeSendCreatTime).ToString("yyyy-MM-dd"))</span>
                <span class="date">最後修改日期：@(Convert.ToDateTime(Model.ResumeSendModifyTime).ToString("yyyy-MM-dd"))</span>
            </p>
        </div>
        <div class="body p-3 h6 border bg-white shadow" style="border-radius:1.25rem;">
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactPhone</label>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactEmail</label>
            </div>
            <div class="form-group">
                <label asp-for="TimeToContact" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.TimeToContact</label>
            </div>
            <div class="form-group">
                <label asp-for="CoverLetter" class="control-label font-weight-bold"></label>：
                <pre class="col-12  py-2" style="line-height:1.5rem;">@Model.CoverLetter</pre>
            </div>
            <div>
                <img src="data:image/gif;base64,@Model.ResumeImage" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="meta-data p-3">
            <p>
                我司的回覆信<br />
                <span class="date pr-3">建立日期：@(Convert.ToDateTime(Model.CreatTime).ToString("yyyy-MM-dd"))</span>
                <span class="date">最後修改日期：@(Convert.ToDateTime(Model.ModifyTime).ToString("yyyy-MM-dd"))</span>
            </p>
        </div>
        <div class="body p-3 h6 border bg-white shadow" style="border-radius:1.25rem;">
            <div class="form-group">
                <label asp-for="InterviewState" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.InterviewState</label>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactPerson</label>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonPhone" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactPersonPhone</label>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonEmail" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactPersonEmail</label>
            </div>
            <div class="form-group">
                <label asp-for="InterviewTime" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.InterviewTime</label>
            </div>
            <div class="form-group">
                <label asp-for="InterviewAddress" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.InterviewAddress</label>
            </div>
            <div class="form-group">
                <label asp-for="StudentRespondTime" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.StudentRespondTime 天內</label>
            </div>
            <div class="form-group">
                <label asp-for="InterviewContent" class="control-label font-weight-bold"></label>：
                <pre class="col-12  py-2" style="line-height:1.5rem;">@Model.InterviewContent</pre>
            </div>
        </div>
    </div>
    <button class="btn-style-two" type="button" data-toggle="modal" data-target="#interviewInfoEditModal" onclick="">修改</button>
    <!--修改回覆Modal-->
    <div class="modal fade" id="interviewInfoEditModal" tabindex="-1" aria-labelledby="ProductEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProductEditModalLabel">修改回覆</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <vc:interview-info-edit job-id="@Model.JobId" company-respond-id="@Model.CompanyRespondId"></vc:interview-info-edit>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section Scripts{
        <script>
            flatpickr('#InterviewTime', {
                minDate: 'today',
                dateFormat: 'Y-m-d'
            });
        </script>
        <script>
            var forddlTimeUse = $("#for-ddlTimeUse").val(); //hidden 隱藏框的資料
            $("#ddlstartTime option[value = '" + forddlTimeUse + "']").attr("selected", true);
        </script>
    }
