@model MSITTeam1.Models.TMemberResumeSend

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TMemberResumeSend</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyTaxid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyTaxid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComReadOrNot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComReadOrNot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeToContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeToContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResumeSendId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
