@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>
@using System.Collections.Generic;
@addTagHelper *, MSITTeam1

@{
    ViewData["Title"] = "List";
}


<table class="table table-striped table-hover" id="question">
    <thead>
        <tr>
            <th class="text-center" style="width:60px;">選擇</th>
            <th style="width:160px">@Html.DisplayNameFor(model => model[0].FSubjectId)</th>
            <th>@Html.DisplayNameFor(model => model[0].FQuestion)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model[0].FLevel)</th>
            <th class="text-center" style="width:60px;" id="detailGroup"></th>
        </tr>
    </thead>
    <tbody class="questionTable">
        @{
            if (Model != null)
            {
                string subject = "";
                int quesId = 0;
                foreach (var item in Model)
                {
                    if (item.FSubjectId != subject || item.FQuestionId != quesId)
                    {
                        subject = item.FSubjectId;
                        quesId = item.FQuestionId;
                <tr class="questionRows">
                    <td class="text-center" style="width:60px;">
                        <input type="checkbox" id="@item.FSn" onclick="passToPaper(@item.FSn)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSubjectId)
                    </td>
                    <td class="qIdForSearch">
                        @Html.DisplayFor(modelItem => item.FQuestion)
                        <input type="hidden" name="sub" class="subjectId" value="@Html.DisplayFor(modelItem => item.FSubjectId)" />
                        <input type="hidden" class="questionId" value="@Html.DisplayFor(modelItem => item.FQuestionId)" />
                    </td>
                    <td class="text-center">
                        <input type="hidden" class="quesLevel" value="@Html.DisplayFor(modelItem => item.FLevel)" />
                        <div class="show_rated_3_5"></div>
                    </td>
                    <td class="text-center detailQButton" style="width:60px;">
                        <input type="button" data-toggle="modal" data-target="#questionDetail" class="detailQuestion" value="詳情" />
                    </td>
                </tr>
                    }
                }
            }
        }

    </tbody>
</table>

<div id="QuestionPagination" class="row my-4"></div>

<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="questionEdit" tabindex="-1" aria-labelledby="questionEdit" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目修改</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditModal">

            </div>
        </div>
    </div>
</div>
@*<button id="test">測試</button>*@

<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="questionDetail" tabindex="-1" aria-labelledby="questionDetail" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目內容</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="DetailModal">

            </div>
        </div>
    </div>
</div>


<script>
    // 難度StarBar
    $('.quesLevel').each(function () {
        var i = $(this).val();
        var temp = "show_rated_" + i;
        $(this).next().attr("class", temp);
    })

    // 題目編輯
    $('.editQuestion').click(function () {
                jsondata = JSON.stringify({
                    Subjects: $(this).parents("tr").find('.subjectId').val(),
                    questionID: $(this).parents("tr").find('.questionId').val()
                })
            $.ajax({
                url: "@Url.Content("~/QuestionBank/EditByVC")",
                type: "POST",
                contentType: "application/json",
                data: jsondata,
                success: function (result) {
                    $('#EditModal').html(result);
                }
            })
    })

    // 題目內容
    $('.detailQuestion').click(function () {
            jsondata = JSON.stringify({
                Subjects: $(this).parents("tr").find('.subjectId').val(),
                questionID: $(this).parents("tr").find('.questionId').val()
            })
        $.ajax({
            url: "@Url.Content("~/QuestionBank/DetailByVC")",
            type: "POST",
            contentType: "application/json",
            data: jsondata,
            success: function (result) {
                $('#DetailModal').html(result);
            }
        })
    })

    // 題目刪除
    $('.delQuestion').click(function () {
        Swal.fire({
            title: '確定刪除嗎?',
            text: "刪除操作無法撤銷",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '刪除',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {                
                var sub = $(this).parents("tr").find('.subjectId').val();
                var quesId = $(this).parents("tr").find('.questionId').val();
               async function deleteQues() {
                   const responseDelete = await fetch("@Url.Content("~/QuestionBank/Delete")" + `?subjectID=${sub}&questionID=${quesId}`);
                   const data = await responseDelete.text()
                   Swal.fire(data);
                }
                deleteQues();
                $('#search').trigger('click');
            }
        })
    })

</script>
<script>

    //$(document).ready(function () {
    //    initPagination('.questionRows', 7, '#QuestionPagination');
    //})


     //分頁套件
    function initPagination(pageEle, showItem, paginationTarget) {
        let pageLength = $(pageEle).length
        let showItemLength = showItem
        let showPage = Math.ceil(pageLength / showItemLength)

        $(paginationTarget).twbsPagination({
            totalPages: showPage,
            visiblePages: 5,
            first: "第一頁",
            prev: "前一頁",
            next: "下一頁",
            last: "最後一頁",
            nextClass: "page-item pageColor",
            prevClass: "page-item pageColor",
            lastClass: "page-item pageColor last",
            firstClass: "page-item pageColor first",
            pageClass: "page-item pageColor",
            activeClass: "page-item pageBG",
            onPageClick: function (event, page) {
            }
        }).on('page', function (event, page) {
            $(pageEle).fadeOut(200)
            let start = (page - 1) * showItemLength
            let end = (page - 1) * showItemLength + showItemLength - 1
            $(pageEle).each((index, item) => {
                if (index >= start && index <= end) {
                    $(item).fadeIn(600)
                }
            })
        });

        $(pageEle).hide()

        pageLength <= showItemLength && $(pageEle).fadeIn(600)
        if (pageLength > showItemLength) {
            $(pageEle).each((index, item) => {
                if (index < showItemLength) {
                    $(item).fadeIn(600)
                }
            })
        }
    }

</script>