@*import { viewport } from "@popperjs/core"*@

@using static MSITTeam1.ViewModels.CStudentResumeViewModel
@addTagHelper *, MSITTeam1
@model MSITTeam1.ViewModels.CStudentResumeViewModel

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">


<div class="resumebar">
    <div class="pagination-container full-width-container">
        <div class="sized-container">
            <div class="pagination"></div>
        </div>
    </div>
    <div class="viewport full-width-container">
        <ul class="slide-container">
            <li class="slide slidehieght" data-tag="基本資料">
                <form name="basic">
                    <div class="sized-container basic">
                        <div class="row data">
                            <div class="col-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="MemberId" id="MemberId" name="MemberId" />
                                <div class="form-group">
                                    <label asp-for="fName" class="control-label"></label>
                                    <input id="fName" asp-for="fName" class="form-control" name="fName" />
                                    <span asp-validation-for="fName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="fGender" class="control-label"></label>
                                    <select id="fGender" asp-for="fGender" asp-items="@Html.GetEnumSelectList(typeof(Gender))" class="form-control"></select>
                                    <span asp-validation-for="fGender" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label asp-for="fBirthDate" class="control-label"></label>
                                    @*<input id="fBirthDate" asp-for="fBirthDate" class="form-control" type="text" name="fBirthDate" />*@
                                    <input style="background-color:white" type="text" class="form-control" id="flatpickr-maxDate" name="fBirthDate">
                                    <span asp-validation-for="fBirthDate" class="text-danger"></span>
                                    
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="fEmail" class="control-label"></label>
                                    <input id="fEmail" asp-for="fEmail" class="form-control" name="fEmail" />
                                    <span asp-validation-for="fEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="fPhone" class="control-label"></label>
                                    <input id="fPhone" asp-for="fPhone" class="form-control" name="fPhone" />
                                    <span asp-validation-for="fPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="fAddress" class="control-label"></label>
                                    <div>
                                        <vc:selector city="@Model.fCity" district="@Model.fDistrict"></vc:selector>    
                                    </div>
                                    <input id="fAddress" asp-for="fAddress" class="form-control" name="fAddress" />
                                    <span asp-validation-for="fAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="image-upload">
                                    <label for="file-input">
                                        <img id="blah" class="img-thumbnail" src="/images/student/@Model.fPortrait" title="變更圖片" alt="您的圖片" />
                                    </label>
                                    <input id="file-input" type="file" name="photo" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="fAutobiography" class="control-label"></label>
                            <textarea id="fAutobiography" asp-for="fAutobiography" class="form-control" name="fAutobiography"> </textarea>
                            <span asp-validation-for="fAutobiography" class="text-danger"></span>
                        </div>
                        <div class="btndiv">
                            <button class="savebtn my-3" id="savechanges">儲存</button>
                        </div>
                    </div>
                </form>
            </li>

            <li class="slide slidehieght" data-tag="經歷">
                <div class="sized-container">
                    <div class="row data" id="workExpPage">
                        <div class="col-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="MemberId" id="MemberId" />
                            <input type="hidden" asp-for="WorkExperienceId" id="WorkExperienceId" />
                            <div class="form-group">
                                <label asp-for="CompanyName" class="control-label"></label>
                                <input id="CompanyName" asp-for="CompanyName" class="form-control" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CompanyDepartment" class="control-label"></label>
                                <input id="CompanyDepartment" asp-for="CompanyDepartment" class="form-control" type="text" />
                                <span asp-validation-for="CompanyDepartment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="JobTitle" class="control-label"></label>
                                <input id="JobTitle" asp-for="JobTitle" class="form-control" type="text" />
                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmploymentFrom" class="control-label"></label>
                                @*<input id="EmploymentFrom" asp-for="EmploymentFrom" class="form-control" />*@
                                <input style="background-color:white" type="text" class="form-control" id="flatpickr-maxDate-EmploymentFrom" >
                                <span asp-validation-for="EmploymentFrom" class="text-danger"></span>
                            </div>
                            <button class="creatworkbtn my-3" id="createWork">新增</button>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="EmploymentTo" class="control-label"></label>
                                @*<input id="EmploymentTo" asp-for="EmploymentTo" class="form-control" />*@
                                <input style="background-color:white" type="text" class="form-control" id="flatpickr-maxDate-EmploymentTo" >
                                <span asp-validation-for="EmploymentTo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="JobDescription" class="control-label"></label>
                                <textarea id="JobDescription" asp-for="JobDescription" class="form-control"></textarea>
                                <span asp-validation-for="JobDescription" class="text-danger"></span>
                            </div>
                            <button class="saveworkbtn my-3" id="editWork" onclick="editWork()">儲存修改</button>
                        </div>
                    </div>

                    <div class="card workdata">
                        <vc:student-work-experience></vc:student-work-experience>
                    </div>
                </div>
            </li>

            <li class="slide slidehieght" data-tag="學歷">
                <div class="sized-container edu">
                    <div class="row data" id="EduPage">
                        <div class="col-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MemberId" id="MemberId" />
                            <input type="hidden" asp-for="EducationId" id="EducationId" />
                            <div class="form-group">
                                <label asp-for="GraduateSchool" class="control-label"></label>
                                <select class="form-control" id="droplistSchools" name="droplistSchools"><option>請選擇</option></select>
                                
                            </div>
                            <div class="form-group">
                                <label asp-for="GraduateDepartment" class="control-label"></label>
                                <input id="GraduateDepartment" asp-for="GraduateDepartment" class="form-control" type="text" />
                                <span asp-validation-for="GraduateDepartment" class="text-danger"></span>
                            </div>

                            <button class="creatworkbtn my-3" id="createEdu">新增</button>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="StudyFrom" class="control-label"></label>
                                @*<input id="StudyFrom" asp-for="StudyFrom" class="form-control" />*@
                                <input style="background-color:white" type="text" class="form-control" id="flatpickr-maxDate-StudyFrom" >
                                <span asp-validation-for="StudyFrom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StudyTo" class="control-label"></label>
                                @*<input id="StudyTo" asp-for="StudyTo" class="form-control">*@
                                <input style="background-color:white" type="text" class="form-control" id="flatpickr-maxDate-StudyTo" >
                                <span asp-validation-for="StudyTo" class="text-danger"></span>
                            </div>
                            <button class="saveworkbtn my-3" id="editEdu" onclick="editEdu()">儲存修改</button>
                        </div>
                    </div>

                    <div class="card edudata">
                        <vc:student-education></vc:student-education>
                    </div>

                </div>

            </li>
            <li class="slide slidehieght" data-tag="語言">
                <div class="sized-container">
                    <div class="row data" id="LanPage">
                        <div class="col-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MemberId" id="MemberId" />
                            <input type="hidden" asp-for="LanguageId" id="LanguageId" />
                            <div class="form-group">
                                <label asp-for="LanguageName" class="control-label"></label>
                                <input id="LanguageName" asp-for="LanguageName" class="form-control" />
                                <span asp-validation-for="LanguageName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Listening" class="control-label"></label>
                                <select id="Listening" asp-for="Listening" asp-items="@Html.GetEnumSelectList(typeof(lanLevel))" class="form-control"><option>請選擇</option></select>
                                <span asp-validation-for="Listening" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Speaking" class="control-label"></label>
                                <select id="Speaking" asp-for="Speaking" asp-items="@Html.GetEnumSelectList(typeof(lanLevel))" class="form-control"><option>請選擇</option></select>
                                <span asp-validation-for="Speaking" class="text-danger"></span>
                            </div>

                            <button class="creatworkbtn my-3" id="createLan">新增</button>
                        </div>
                        <div class="col-6 " id="colLan2">
                            <div class="form-group">
                                <label asp-for="Reading" class="control-label"></label>
                                <select id="Reading" asp-for="Reading" asp-items="@Html.GetEnumSelectList(typeof(lanLevel))" class="form-control"><option>請選擇</option></select>
                                <span asp-validation-for="Reading" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Writing" class="control-label"></label>
                                <select id="Writing" asp-for="Writing" asp-items="@Html.GetEnumSelectList(typeof(lanLevel))" class="form-control"><option>請選擇</option></select>
                                <span asp-validation-for="Writing" class="text-danger"></span>
                            </div>
                            <button class="saveworkbtn language-savebtn my-3" id="editLan" onclick="editLan()">儲存修改</button>
                        </div>
                    </div>

                    <div class="card Landata">
                        <vc:student-language></vc:student-language>
                    </div>
                </div>
            </li>
            <li class="slide slidehieght" data-tag="技能與作品">
                <div class="sized-container">
                        <div class="row data" id="SkillnPortfolioPage">
                            <div class="col-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="MemberId" id="MemberId" />
                                    <input type="hidden" asp-for="SkillId" id="SkillId" />
                                    <input type="hidden" asp-for="PortId" id="PortId" />
                                <div class="form-group">
                                    <label asp-for="SkillName" class="control-label"></label>
                                    <input id="SkillName" asp-for="SkillName" class="form-control" />
                                    <span asp-validation-for="SkillName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="SkillDescription" class="control-label"></label>
                                    <input id="SkillDescription" asp-for="SkillDescription" class="form-control" type="text" />
                                    <span asp-validation-for="SkillDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <button class="creatworkbtn my-3" id="createSkill">新增</button>
                                <button class="saveworkbtn my-3" id="editSkill" onclick="editSkill()">儲存修改</button>
                            </div>
                        </div>
                        <div class="card skilldata">
                            <vc:student-skill></vc:student-skill>
                        </div>
                        <hr />
                    <div class="row data">
                        <div class="col-6">
                             <div class="form-group">
                                <label asp-for="PortfolioTitle" class="control-label"></label>
                                <input id="PortfolioTitle" asp-for="PortfolioTitle" class="form-control" />
                                <span asp-validation-for="PortfolioTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PortfolioDescription" class="control-label"></label>
                                <input id="PortfolioDescription" asp-for="PortfolioDescription" class="form-control">
                                <span asp-validation-for="PortfolioDescription" class="text-danger"></span>
                            </div>
                             
                        </div>
                        <div class="col-6">
                             <div class="form-group">
                                <label asp-for="PortfolioURL" class="control-label"></label>
                                <input id="PortfolioURL" asp-for="PortfolioURL" class="form-control">
                                <span asp-validation-for="PortfolioURL" class="text-danger"></span>
                            </div>
                              <button class="creatworkbtn my-3" id="createPort">新增</button>
                             <button class="saveworkbtn my-3" id="editPort" onclick="editPort()">儲存修改</button>
                        </div>
                    </div>
                     <div class="card portdata"><vc:student-portfolio></vc:student-portfolio></div>
                </div>
            </li>
            <li class="slide" data-tag="產生履歷與匯出" >
                <div class="sized-container" >
                    <vc:student-resume-create></vc:student-resume-create>
                </div>
            </li>
           
        </ul>
    </div>
    <div class="full-width-container ">
        <div class="button-container sized-container">
            <button class="next">下一步</button>
            <button class="previous">上一步</button>
        </div>
    </div>
</div>

@section Scripts
{

<script>

    var currentSlide = 0,
        $slideContainer = $('.slide-container'),
        $slide = $('.slide'),
        slideCount = $slide.length,
        animationTime = 300;

    function setSlideDimensions() {
        var windowWidth = $(window).width();
        $slideContainer.width(windowWidth * slideCount);
        $slide.width(windowWidth);
    }

    function generatePagination() {
        var $pagination = $('.pagination');
        for (var i = 0; i < slideCount; i++) {
            var $indicator = $('<div>').addClass('indicator'),
                $progressBarContainer = $('<div>').addClass('progress-bar-container'),
                $progressBar = $('<div>').addClass('progress-bar'),
                indicatorTagText = $slide.eq(i).attr('data-tag'),
                $tag = $('<div>').addClass('tag').text(indicatorTagText);
            $indicator.append($tag);
            $progressBarContainer.append($progressBar);
            $pagination.append($indicator).append($progressBarContainer);
        }
        $pagination.find('.indicator').eq(0).addClass('active');
    }

    if (currentSlide==0){
    $('.previous').hide();
    }



    function goToNextSlide() {
        if (currentSlide >= slideCount - 1) {
            $('.previous').show();
            return;
        }else{
            $('.previous').show();
        };

        var windowWidth = $(window).width();
        currentSlide++;
        $slideContainer.animate({
            left: -(windowWidth * currentSlide)
        });
        setActiveIndicator();
        $('.progress-bar').eq(currentSlide - 1).animate({
            width: '100%'
        }, animationTime);
    }

    function goToPreviousSlide() {

        if (currentSlide <= 0) {
             $('.previous').hide();
            return
        };
        var windowWidth = $(window).width();
        currentSlide--;
        $slideContainer.animate({
            left: -(windowWidth * currentSlide)
        }, animationTime);
        setActiveIndicator();
        $('.progress-bar').eq(currentSlide).animate({
            width: '0%'
        }, animationTime);
    }

    function postitionSlides() {
        var windowWidth = $(window).width();
        setSlideDimensions();
        $slideContainer.css({
            left: -(windowWidth * currentSlide)
        }, animationTime);
    }

    function setActiveIndicator() {
        var $indicator = $('.indicator');
        $indicator.removeClass('active').removeClass('complete');
        $indicator.eq(currentSlide).addClass('active');
        for (var i = 0; i < currentSlide; i++) {
            $indicator.eq(i).addClass('complete');
        }
    }

    setSlideDimensions();
    generatePagination();
    $(window).resize(postitionSlides);
    $('.next').on('click', goToNextSlide);
    $('.previous').on('click', goToPreviousSlide);



    // 最大値
    flatpickr('#flatpickr-maxDate', {
    maxDate: 'today',
    locale: 'zh_tw'
    });
    flatpickr('#flatpickr-maxDate-EmploymentFrom', {
    maxDate: 'today',
    locale: 'zh_tw'
    });
    flatpickr('#flatpickr-maxDate-EmploymentTo', {
    maxDate: 'today',
    locale: 'zh_tw'
    });
    flatpickr('#flatpickr-maxDate-StudyFrom', {
    maxDate: 'today',
    locale: 'zh_tw'
    });
    flatpickr('#flatpickr-maxDate-StudyTo', {
    maxDate: 'today',
    locale: 'zh_tw'
    });

     $.ajax({
            url: '@Url.Content("~/StudentResume/ReturnBasicdata")',
            method:'post',
            dataType:'json',
            success: function (datas) {
                for(var row in datas){

                    $("#flatpickr-maxDate").val(datas[row].birthDate);

                }
                ;
            }
        }).done((data) => {
            console.log(data)
        })
    //var daytime = $("#flatpickr-maxDate option:selected").text();
    //console.log(daytime);
    //圖片瀏覽
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {  //reader加載成功
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file-input").change(function () {
            readURL(this);
        });


    // 儲存基本資料
    const btn = document.querySelector('#savechanges');
    btn.addEventListener('click', (evt) => {
        evt.preventDefault();

        const formdata = new FormData(document.basic);
        var   GenderChoice = $("#fGender option:selected").text();
        //var   CityChoice = $("#City option:selected").text();
        //var   DistrictChoice = $("#District option:selected").text();
        //formdata.append('fGender',GenderChoice);
        //formdata.append('fCity', CityChoice);
        //formdata.append('fDistrict', DistrictChoice);

        fetch('@Url.Content("~/StudentResume/EditBasic")',{
            method:'POST',
            body:formdata,
        }).then(Swal.fire({

            icon: 'success',
            title: '修改成功',
            showConfirmButton: false,
            timer: 1500
        }))
        $("#row data").load("@Url.Content("~/StudentResume/Create")");
    })


    //工作新增
    $("#createWork").click(()=>{
         var jsondata = JSON.stringify({
        WorkMemberId:$("#MemberId").val(),
        CompanyName:$("#CompanyName").val(),
        CompanyDepartment:$("#CompanyDepartment").val(),
        JobTitle:$("#JobTitle").val(),
        EmploymentFrom:$("#flatpickr-maxDate-EmploymentFrom").val(),
        EmploymentTo:$("#flatpickr-maxDate-EmploymentTo").val(),
        JobDescription:$("#JobDescription").val()
        })

            $.ajax({
            url: "@Url.Content("~/StudentResume/CreateWork")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: jsondata
         }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#workPage").load(location.href + " #workPage");

        })
    })

    $("#editWork").hide();
    //工作儲存編輯
     function editWork()
     {
         var jsondata = JSON.stringify({
        WorkMemberId:$("#MemberId").val(),
        WorkExperienceId:$("#WorkExperienceId").val(),
        CompanyName:$("#CompanyName").val(),
        CompanyDepartment:$("#CompanyDepartment").val(),
        JobTitle:$("#JobTitle").val(),
        EmploymentFrom:$("#flatpickr-maxDate-EmploymentFrom").val(),
        EmploymentTo:$("#flatpickr-maxDate-EmploymentTo").val(),
        JobDescription:$("#JobDescription").val()
        })
        $.ajax({
            url:"@Url.Content("~/StudentResume/EditWork")",
            type:"POST",
            contentType:"application/json; chartset=utf-8",
            data:jsondata
        }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '修改成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#editWork").hide();
            $("#createWork").show();
            $("#workPage").load(location.href + " #workPage");
        })}

    //匯入學校
        var Schoollist = document.querySelector('#droplistSchools');

        $.ajax({
            url: '@Url.Content("~/StudentResume/DropListEdu")',
            method:'post',
            dataType:'json',
            success: function (datas) {
                datas.forEach((a) => {
                let option = new Option(a.schoolName, a.schooolId);
                    Schoollist.options.add(option);
                });
            }
        })
    //學歷新增
    $("#createEdu").click(()=>{
         var jsondata = JSON.stringify({
        EduMemberId:$("#MemberId").val(),
        GraduateSchool:$("#droplistSchools").find(':selected').text(),
        GraduateDepartment:$("#GraduateDepartment").val(),
        StudyFrom:$("#flatpickr-maxDate-StudyFrom").val(),
        StudyTo:$("#flatpickr-maxDate-StudyTo").val()
        })  

            $.ajax({
            url: "@Url.Content("~/StudentResume/CreateEdu")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: jsondata
         }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#eduPage").load(location.href + " #eduPage");

        })
    })

    $("#editEdu").hide();
    //學歷儲存編輯
     function editEdu()
     {
        var jsondata = JSON.stringify({
        EducationId:$("#EducationId").val(),
        GraduateSchool: $("#droplistSchools").find(':selected').text(),
        GraduateDepartment:$("#GraduateDepartment").val(),
        StudyFrom:$("#flatpickr-maxDate-StudyFrom").val(),
        StudyTo:$("#flatpickr-maxDate-StudyTo").val()
        })
        $.ajax({
            url:"@Url.Content("~/StudentResume/EditEdu")",
            type:"POST",
            contentType:"application/json; chartset=utf-8",
            data:jsondata
        }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '修改成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#editEdu").hide();
            $("#createEdu").show();
            $("#eduPage").load(location.href + " #eduPage");
            
        })}

    //語言新增
    $("#createLan").click(()=>{
       var jsondata = JSON.stringify({
        LanMemberId:$("#MemberId").val(),
        LanguageName:$("#LanguageName").val(),
        Listening:$("#Listening").val(),
        Speaking:$("#Speaking").val(),
        Reading:$("#Reading").val(),
        Writing:$("#Writing").val()
        })

            $.ajax({
            url: "@Url.Content("~/StudentResume/CreateLan")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: jsondata
         }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#lanPage").load(location.href + " #lanPage");

        })
    })

    $("#editLan").hide();
    //語言儲存編輯
     function editLan()
     {
        var jsondata = JSON.stringify({
        LanguageId:$("#LanguageId").val(),
        LanguageName:$("#LanguageName").val(),
        Listening:$("#Listening").find(':selected').text(),
        Speaking:$("#Speaking").find(':selected').text(),
        Reading:$("#Reading").find(':selected').text(),
        Writing:$("#Writing").find(':selected').text()
        })
        $.ajax({
            url:"@Url.Content("~/StudentResume/EditLan")",
            type:"POST",
            contentType:"application/json; chartset=utf-8",
            data:jsondata
        }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '修改成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#editLan").hide();
            $("#createLan").show();
            $("#lanPage").load(location.href + " #lanPage");
            
        })
     }

    //技能新增
    $("#createSkill").click(()=>{
       var jsondata = JSON.stringify({
        SkillMemberId:$("#MemberId").val(),
        SkillName:$("#SkillName").val(),
        SkillDescription:$("#SkillDescription").val()
        })

            $.ajax({
            url: "@Url.Content("~/StudentResume/CreateSkillPort")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: jsondata
         }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#skillPage").load(location.href + " #skillPage");

        })
    })

    $("#editSkill").hide();
    //技能儲存編輯
     function editSkill()
     {
        var jsondata = JSON.stringify({
        SkillId:$("#SkillId").val(),
        SkillName:$("#SkillName").val(),
        SkillDescription:$("#SkillDescription").val()
        })
        $.ajax({
            url:"@Url.Content("~/StudentResume/EditSkill")",
            type:"POST",
            contentType:"application/json; chartset=utf-8",
            data:jsondata
        }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '修改成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#editSkill").hide();
            $("#createSkill").show();
            $("#skillPage").load(location.href + " #skillPage");
            
        })
     }

      //作品新增
    $("#createPort").click(()=>{
       var jsondata = JSON.stringify({
        PortMemberId:$("#MemberId").val(),
        PortfolioTitle:$("#PortfolioTitle").val(),
        PortfolioDescription:$("#PortfolioDescription").val(),
        PortfolioURL:$("#PortfolioURL").val()
        })

            $.ajax({
            url: "@Url.Content("~/StudentResume/CreateSkillPort")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: jsondata
         }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#PortPage").load(location.href + " #PortPage");

        })
    })

    $("#editPort").hide();
    //作品儲存編輯
     function editPort()
     {
        var jsondata = JSON.stringify({
        PortId:$("#PortId").val(),
        PortfolioTitle:$("#PortfolioTitle").val(),
        PortfolioDescription:$("#PortfolioDescription").val(),
        PortfolioURL:$("#PortfolioURL").val()
        })
        $.ajax({
            url:"@Url.Content("~/StudentResume/EditPort")",
            type:"POST",
            contentType:"application/json; chartset=utf-8",
            data:jsondata
        }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '修改成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#editPort").hide();
            $("#createPort").show();
            $("#PortPage").load(location.href + " #PortPage");
            
        })
     }

     if("@ViewBag.account"==""){
          Swal.fire({
                        icon: 'warning',
                        title: '請先登入',
                        timer: 1500
                        }).then((result)=>{
                            window.location('@Url.Content("~/Student_Login/Index")')
                        })
     }
       
    // //flatpicker
    //$("#basicDate").flatpickr({
    //enableTime: true,
    //dateFormat: "F, d Y "
    //});


</script>
}






