@model MSITTeam1Admin.Models.TProduct

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TProduct</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">關閉視窗</button>
        <input type="submit" value="確定刪除" class="btn btn-danger" />
    </form>
</div>
