@addTagHelper *, MSITTeam1
@model IEnumerable<MSITTeam1.ViewModels.CAddToCartViewModel>

@{
    int totalPrice = 0;
    foreach (var item in Model)
    {
        <li class="cart-list-item my-2">
            <div class="cart-item-img" style="background-image: url('@item.imgPath');"></div>
            <div class="cart-item">
                <div class="cart-item-description">
                    <span>
                        <p class="cart-item-label">@item.name</p>
                        <p class="cart-item-price">NT$@Html.DisplayFor(modelItem => item.price, "Money") x @item.count  </p>
                    </span>
                </div>
                <div class="cart-item-favorites">
                    @*<span class="item-heart-ic"></span>*@
                </div>
                <div class="cart-item-trash">
                    <a onclick="DeleteProduct('@item.productId')"><i class="fas fa-times-circle fa-lg text-secondary"></i></a>
                </div>
            </div>
        </li>
        totalPrice += (int)(item.subTotal);
    }

}
<li class="cart-footer mt-3">
    <a href="@Url.Action("Index","CheckOut")">
        <div  class="cart-checkout-btn" >
            <span class="checkout-cart-ic"></span>
            <span class="checkout-label">前往結帳<br />(共計 NT$@totalPrice.ToString("###,###,##0"))</span>
        </div>
    </a>
</li>
@section Scripts{

}

