@model IEnumerable<MSITTeam1.ViewModels.CStudentResumeViewModel>
<style>
    th {
        white-space: nowrap;
        
    }
</style>

<table class="table" id="skillPage">
    <thead>
        <tr>
            <th>
                技能:
            </th>
            <th style="visibility:hidden">
                @Html.DisplayNameFor(model => model.SkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillDescription)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td style="visibility:hidden">
                        @Html.DisplayFor(modelItem => item.SkillId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillDescription)
                    </td>
                   
                    <td>
                        <div class="d-flex">
                            <button class="tableBtn fas fa-pencil-alt " id="@item.SkillId" onclick="showSkill('@item.SkillId')"></button>
                            <button class="tableBtn fas fa-trash-alt " name="SkillId" onclick="deleteSkill('@item.SkillId')"></button
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
  //顯示 、hide create btn
    function showSkill(id){
        var currow = $('#'+id).closest('tr');
        var col1 = currow.find('td:eq(1)').text().trim();
        var col2 = currow.find('td:eq(2)').text().trim();
        var col3 = currow.find('td:eq(3)').text().trim();
        var col4 = currow.find('td:eq(4)').text().trim();
        var col5 = currow.find('td:eq(5)').text().trim();
        var col6 = currow.find('td:eq(6)').text().trim();
        var col7 = currow.find('td:eq(7)').text().trim();

        $('#SkillId').val(col1);
        $('#SkillName').val(col2);
        $('#SkillDescription').val(col3);

        $("#editSkill").show();
        $("#createSkill").hide();
        
    }

    //工作刪除
    function deleteSkill(dd)
     {    
         var num = dd;
        $.ajax({
            url:"@Url.Content("~/StudentResume/DeleteSkill")",
            type:"POST",
            data:{'skillId':num},

        }).done(function (data) {
            Swal.fire({
                        icon: 'success',
                        title: '刪除成功',
                        showConfirmButton: false,
                        timer: 1500
                        })
            $("#skillPage").load(location.href + " #skillPage");})
        }
</script>
