@model IList<MSITTeam1.ViewModels.CQuestionBankViewModel>

@{
    ViewData["Title"] = "Detail";
}

<div class="container" id="outdiv" style="padding:20px">
    <div class="row">
        <div class="col-md-12">
            @{
                if (Model != null)
                {
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="text-align:center;">
                            <h3><input style="text-align:center;" type="text" id="FSubjectIdV" asp-for="@Model[0].FSubjectId" disabled="disabled" /></h3>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="FQuestionId" asp-for="@Model[0].FQuestionId" />
                            <label id="test1" class="control-label h5" asp-for="@Model[0].FQuestion"></label>
                            <input id="FQuestion" asp-for="@Model[0].FQuestion" class="form-control" disabled="disabled" style="overflow:auto;" />
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model[0].FQuestionTypeId" class="control-label h5"></label>
                            <input type="hidden" value="@Model[0].FQuestionTypeId" id="curType" />
                            <select id="FQuestionTypeIdSel" asp-for="@Model[0].FQuestionTypeId" class="form-control" disabled="disabled">
                                <option value="1">單選題</option>
                                <option value="2">多選題</option>
                            </select>
                        </div>
                        <div id="ansListDe">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (Model[i].FSubjectId == Model[0].FSubjectId && Model[i].FQuestionId == Model[0].FCQuestionId)
                                {
                                    <div class="form-group choice">
                                        <input type="hidden" id="FSN" asp-for="@Model[i].FSn" />
                                        <input type="hidden" id="FCSubjectId" asp-for="@Model[i].FCSubjectId" />
                                        <input type="hidden" id="FCQuestionId" asp-for="@Model[i].FCQuestionId" />
                                        <input type="hidden" id="correctAns" asp-for="@Model[i].FCorrectAnswer" />

                                        <label asp-for="@Model[i].FChoice" class="control-labe h5"></label>
                                        <br />
                                            <input id="checkBox1" type="checkbox" name="FCorrectAnswer" disabled="disabled" />
                                            <input asp-for="@Model[i].FChoice" class="form-control" disabled="disabled" readonly />
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model[0].FLevel" class="control-label h5"></label>
                            <input type="hidden" value="@Model[0].FLevel" id="curLevelDetail" />
                            <div class="show_rated_3_5"></div>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

<script>
    // 難度StarBar
        var i = $('#curLevelDetail').val();
        var temp = "show_rated_" + i;
    $('#curLevelDetail').next().attr("class", temp);

    // 正確選項顯示
    var correctAnswer = 0;
    $('#ansListDe > div').each(function (idx, item) {
        correctAnswer = $(item).find('input#correctAns').val();
        if (correctAnswer === "1") {
            $(item).find('#checkBox1').attr("checked", true);
        } else {
            $(item).find('#checkBox1').remove();
        }
    })
</script>
<script src="~/js/jquery.barrating.js"></script>
<script src="~/js/barRating.init.js"></script>
