@model IEnumerable<MSITTeam1.Models.TQuestionList>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row justify-content-center mt-4 mb-2 align-items-center">
        <div class="col-md-4">
            <select class="form-select form-control" id="select">
                @{
                    string FSubjectId = null;
                        foreach (var item in Model)
                        {
                            if (item.FSubjectId != FSubjectId)
                            {
                            <option value="@item.FSubjectId">@item.FSubjectId</option>
                            }
                                FSubjectId = item.FSubjectId;
                         }
                    }
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn-style-two mt-3" type="button" id="btnstart">開始測驗</button>
        </div>
    </div>
  
    <div id="div1">
        <div class="row">
            <div class="container">
                <h4 id="skill_grade_question" class="font-weight-bold my-3 mt-4"></h4>
            </div>
            <div class="container">
                <div class="row" id="skill_grad_choices" style="line-height:1.5rem;">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between mx-0">
        <div>
            <button style="display:none" class="btn-style-two my-3 m-0 mx-2" type="button" id="button2">送出</button>
            <button style="display:none" class="btn-style-two my-3 m-0 mx-2" type="button" id="button1">下一題</button>
        </div>
    <button style="display:none" class="btn-style-four my-3 m-0 mx-2" type="button" id="button3">結束測驗</button>
    </div>
    <form name="member" method="post">
        <input type="hidden" id="FSubjectId" name="FSubjectId" value="" />
        <input type="hidden" id="FQuestionId" name="FQuestionId" value="" />
        <input type="hidden" id="FSubmitAnswer" name="FSubmitAnswer" value="">
        <input type="hidden" class="form-control" id="Grade" name="Grade" value="0">
    </form>
</div>
@section Scripts{
    <script>
        const btn = document.querySelector("#button1");
        const btn2 = document.querySelector("#button2");
        const btn3 = document.querySelector("#button3");
        const btn1 = document.querySelector("#btnstart");
        const divAlert = document.querySelector("#div1");

        btn1.addEventListener('click', (evt) => {
            evt.preventDefault();
            if ("@ViewBag.Account" == "" || "@ViewBag.memtype" == "2") {
                Swal.fire({
                    icon: 'info',
                    title: '請先登入學生會員',
                }).then((result) => {
                    if (result.isConfirmed) { location = '@Url.Action("Index", "Student_Login")'}}
                )
            } else {
                btn1.style.display = 'none';
                btn2.style.display = 'block';
                $("#FSubjectId").val($('#select').val());
                $("#select").hide();
                btn3.style.display = 'block';
                btn.click();
            }
        })


    btn.addEventListener('click', (evt) => {
            evt.preventDefault();
        const formData = new FormData(document.member);
        var choice = "";
        var number = 1;
        fetch('@Url.Action("Topic","SkillGrade")', {
            method: 'POST',
            body: formData
        }).then(Response => Response.json())
            .then(function (j) {
                console.log(j);
                $("#FQuestionId").val(j[0].fQuestionID);
                $("#skill_grade_question").text(j[0].fQuestion);
                //j[0].fQuestion;
                for (var row in j) {
                    var answer = j[row].fChoice;
                    choice += "<div class=\"col-12\"><input type=\"radio\" id=" + number + "  name=\"answer\" value=" + j[row].fCorrectAnswer+"><label for=" + number + ">" + answer + "</label></div>";
                    number += 1;
                }
                $("#skill_grad_choices").html(choice)
            });
        btn.style.display = 'none';
        btn2.style.display = 'block';
    })

        var anscount = 0;
        var count = 0;

        btn2.addEventListener('click', (evt) => {
            evt.preventDefault();
            var a = $('input[name=answer]:checked').val();
            //$("#FSubmitAnswer").val($('input[name=answer]:checked').attr('id'));
            if (1 == a) { anscount++; $('input[name=answer]:checked').next().css("color", "green"); $("#FSubmitAnswer").val("1");}
            if (1 != a) { $("input[name=answer][value='1']").next().css("color", "red"); $("#FSubmitAnswer").val("0");}
            count++

            $('#Grade').attr({ 'value': Math.round((anscount / count) * 100) });

            /*            $('input').hide();*/
            $('input').attr("disabled", true);
            $('#FSubjectId').attr("disabled", false);
            $('#FQuestionId').attr("disabled", false);
            $('#FSubmitAnswer').attr("disabled", false);
            $('#Grade').attr("disabled", false);
            btn2.style.display = 'none';
            btn.style.display = 'block';
        });

        btn3.addEventListener('click', (evt) => {
            evt.preventDefault();
            const formData = new FormData(document.member);

        fetch('@Url.Action("InSQL", "SkillGrade")', {
            method: 'POST',
            body: formData
        }).then(location = '@Url.Action("Index", "ShowSkillGrade")')
        })

    </script>
}


