@model MSITTeam1.ViewModels.CTestPaperBankViewModel
@addTagHelper *,MSITTeam1

@section Style{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/QuestionBankStyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/StarBar.css" />
    <link href="~/css/barRating.css" rel="stylesheet" />
    <link href="~/css/Resumebar.css" rel="stylesheet" />
    <style>
        .indicator {
            width: 25px !important;
        }

        .form-group > textarea {
            overflow-y: auto !important;
            height: 200px !important;
        }

        #search {
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            padding: 0.5rem 0.75rem;
            background-color: #1e3c84;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 50px;
        }

        #testView {
            height: 500px;
            overflow: auto;
        }

        #testTable {
            height: 500px;
            overflow: auto;
        }

        .slide-container {
            height: 600px !important;
        }

        .sized-container.questionTable {
            max-width: 1700px;
        }

        .button-container {
            border-top: 0.2px hidden !important;
        }

        #searchGroup {
            width: 1200px;
            padding: 30px 0 15px 100px;
        }

        #selectCount {
            height: 35px;
            line-height: 2.7;
            width: 100px;
            border-radius: 17.5px;
            background-color: gainsboro;
            position: inherit;
            margin: 8px;
            text-align: center;
        }

        .selectType {
            height: 35px;
            line-height: 2.7;
            width: 100px;
            border-radius: 17.5px;
            background-color: gainsboro;
            position: inherit;
            margin: 8px;
            text-align: center;
            cursor: pointer;
        }

        .table {
            border: 0.5px solid gainsboro;
        }

        #CreatebtnType {
            margin: 0px;
            padding: 0px;
            float: right;
            background-color: #1e3c84;
            color: #FFFFFF;
        }

        .selectQuestList {
            height: 500px;
            overflow: auto;
        }

        #outdivCre button {
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            border: solid 1px transparent;
            padding: 14px 14px;
            background-color: #1e3c84;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 150px;
        }

            #outdivCre button:hover {
                /*background-color: #1A7F75;*/
                color: #1e3c84;
                z-index: 4;
                background-color: #ffffff;
                border: #1e3c84 solid 1px;
                cursor: pointer;
            }

            #outdivCre button.previous {
                background-color: #1e3c84;
                float: left;
            }

                #outdivCre button.previous:hover {
                    color: #1e3c84;
                    background-color: #ffffff;
                }

            #outdivCre button.savebtn {
                margin: auto;
                width: 150px;
            }
        .createLabel{
            font-size:1.2rem;
        }
    </style>
}

<div class="resumebar">
    <div class="pagination-container full-width-container">
        <div class="sized-container">
            <div class="pagination"></div>
        </div>
    </div>

    <div class="viewport full-width-container">
        <ul class="slide-container">
            <li class="slide" data-tag="建立考卷資料">
                <form name="basic">
                    <div class="sized-container basic">
                        <br />
                        <h1>歡迎使用iSpan題庫系統</h1>
                        <h2 style="color:gray;">請填寫考卷名稱及考卷介紹，您可以從題庫挑所需題目，也可以設計新的試題。</h2>
                        <hr />
                        <br />
                        <div class="row data justify-content-center">
                            <div class="col-5">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="FDesignerAccount" value="@ViewBag.account" />
                                <div class="form-group">
                                    <label asp-for="FTestPaperName" class="control-label createLabel"></label>
                                    <input asp-for="FTestPaperName" class="form-control" id="FpaperName" />
                                    <span asp-validation-for="FTestPaperName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label asp-for="FBSubjectId" class="control-label createLabel">技能名稱</label>
                                    <select id="FSubject" name="FSubjectId" class="form-control">
                                        <option value="">請選擇技能名稱</option>
                                    </select>
                                    <span asp-validation-for="FBSubjectId" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="col-10">
                                <div class="form-group">
                                    <label asp-for="FNote" class="control-label createLabel"></label>
                                    <textarea id="FPaperNote" asp-for="FNote" class="form-control"></textarea>
                                    <span asp-validation-for="FNote" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2">
                                <button type="button" id="quickFill">DEMO</button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>

            <li class="slide" data-tag="選擇題目">
                <div class="sized-container questionTable">
                    <div class="row row justify-content-around" id="searchGroup">
                        <div class="col-3">
                            <select id="FSubjectId" name="FSubjectId" class="form-control">
                                <option value="">請選擇技能名稱</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select id="FQuestionTypeId" class="form-control">
                                <option value="">請選擇題型</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <div class="input-group input-group-rounded">
                                <input type="text" placeholder="查詢關鍵字" name="keyword" class="form-control" id="keyword">
                                <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="button" id="search"><i class="fas fa-search"></i></button></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="selectType" id="CreatebtnType">
                                <span><a data-toggle="modal" data-target="#questionCreate">新增題目</a></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="justify-content: end;">
                        <div id="selectCount">
                            <span id="spanSelCount">已選 0 項</span>
                        </div>
                        <div class="selectType" id="resetList">
                            <span>清空</span>
                        </div>
                    </div>

                    <div class="row" style="margin:8px;">
                        <div id="testView" class="col-9">
                            @*QuestionList*@
                        </div>
                        <div class="col-3 selectQuestList">
                            <table id="testTable" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>已選題目</th>
                                    </tr>
                                </thead>
                                <tbody id="selectedQuestionListTb">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row data" id="workExpPage">

                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="full-width-container">
        <div class="button-container sized-container">
            <button class="next">下一步</button>
            <button class="paperCreate" id="createPaper" style="float:none;margin: 0 0 30px 400px;">新增試卷</button>
            <button class="previous">上一步</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modalCre" id="questionCreate" tabindex="-1" aria-labelledby="questionCreate" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目新增</h5>
                <input type="button" class="close" data-dismiss="modal" aria-label="Close" />
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <vc:question-bank-create></vc:question-bank-create>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="~/js/jquery.barrating.js"></script>
    <script src="~/js/barRating.init.js"></script>
    <script>

        // DEMO填入資料
        $('#quickFill').click(function () {
            $('#FpaperName').attr("value","瑞嘉軟體後端工程師 入職測驗卷");
            $('#FPaperNote').text("身為後端工程師你將會參與公司的主力產品的後端開發,與前端工程師合作，開發與維護公司系統應用。 此測驗主題為C#及SQL 資料庫，測試時間為：25分鐘。");
            $('#FSubject').find("option[value='後端開發技術']").attr("selected", true);
        })

        //DEMO
        $('#demoCreQues').click(function () {
            $('#FSubjectIdSel').find("option[value='其他']").attr("selected", true);
            $('#FQuestionTypeIdSelCre').find("option[value='2']").attr("selected", true);
            $('#FQuestionCre').attr("value", "請從下列選項中選擇我們公司的福利制度");
            $('#demoChoice').attr("value", " 一年12天特休，爾後每滿一年加1天，上限30天");
            $('#demoChoice2').attr("value", "員工生日當月可享有生日假");
            $('#demoChoice3').attr("value", "規劃多樣休閒活動，讓員工在參與活動之餘，更能貼近及認知公司文化");
            $('#demoChoice4').attr("value", "年度國外旅遊");
            $('#checkBox1').attr("checked", true);
            $('#checkBox2').attr("checked", true);
            $('#checkBox3').attr("checked", true);
            $('#checkBox4').attr("checked", true);
        })

          // 載入全部課程名稱
        const selSubQuest = document.querySelector('#FSubjectIdSel');
        const selSubPaper = document.querySelector('#FSubject');
        async function LoadSubject() {
            const responseSubject = await fetch('@Url.Content("~/QuestionBank/Subject")');
            renderSubject(await responseSubject.json());
        }
        function renderSubject(datas) {
            datas.forEach((item) => {
                const opt = new Option(item.fClassCategory, item.fClassCategory);
                selSubPaper.options.add(opt);
            })
            datas.forEach((item) => {
                const opt = new Option(item.fClassCategory, item.fClassCategory);
                selSubQuest.options.add(opt);
            })
        }

        // 載入目前有題目的課程名稱
       const selSubSearch = document.querySelector('#FSubjectId');
        async function LoadSubjectExistQuestion() {
            const responseSubjectExistQuestion = await fetch('@Url.Content("~/QuestionBank/SubjectExistQuestion")');
            renderSubjectExistQuestion(await responseSubjectExistQuestion.json());

            const subject = selSubSearch.options[selSubSearch.selectedIndex].value;
            await LoadType(subject);
        }

        function renderSubjectExistQuestion(datas) {
            datas.forEach((item) => {
                const opt = new Option(item.fSubjectId, item.fSubjectId);
                selSubSearch.options.add(opt);
            })
        }
        LoadSubjectExistQuestion();
        LoadSubject();

        // 根據題目顯示當前已有題型
        const selQuestionType = document.querySelector('#FQuestionTypeId');
        async function LoadType(subject) {
            const responseType = await fetch("@Url.Content("~/QuestionBank/TypeExist")" + `?subjectID=${subject}`)
            renderType(await responseType.json());
        }
        function renderType(datas) {
            selQuestionType.options.length = 1;
            datas.forEach((item) => {
                var typeText = "";
                if (item.fQuestionTypeId == "1") {
                    typeText = "單選題";
                } else if (item.fQuestionTypeId == "2") {
                    typeText = "多選題";
                }
                console.log(typeText);
                const opt = new Option(typeText, item.fQuestionTypeId);
                selQuestionType.options.add(opt);
            })
        }
        // 題目查詢
        var jsondata = null;
        $(document).ready(function () {
            searchQuestion();
        $('#search').click(function () {
            searchQuestion();
        })
        })
        function searchQuestion() {
                 jsondata = JSON.stringify({
                Subjects: $('#FSubjectId').val(),
                keyword: $('#keyword').val(),
                Type: $('#FQuestionTypeId').val()
            })
            $.ajax({
                url: "@Url.Content("~/QuestionBank/List")",
                type: "POST",
                contentType: "application/json",
                data: jsondata,
                success: function (result) {
                    $('#testView').html(result);
                }
            }).done(function () {
                $('#editGroup').hide();
                $('.editQButton').hide();
                initPagination('.questionRows', 7, '#QuestionPagination');
            })
        }

        // TODO:12.選擇即更新
        $('#FSubjectId').on('change',async function () {
            const subject = selSubSearch.options[selSubSearch.selectedIndex].value;
            await LoadType(subject);
            searchQuestion();
        });
        $('#FQuestionTypeId').on('change', function () {
            searchQuestion();
        });

        //-----------------------------Create New Question---------------------------------------------
        // 判斷Checkbox
        var limitCre = $('#FQuestionTypeIdSelCre').val();
        function doCheckCre(obj) {
            obj.checked ? currentSelect++ : currentSelect--;
            var currentSelect = $("#ansListCre input[type='checkbox']:checked").length;
            if (currentSelect > limitCre) {
                obj.checked = false;
                Swal.fire("超過正確答案上限");
                currentSelect--;
            }
        }

        // 根據題型判斷答案輸入欄位及許可正確選項上限
        $('#FQuestionTypeIdSelCre').change(function () {
            if ($(this).val() === "2") {
                limitCre = 100;
            } else if ($(this).val() === "1") {
                limitCre = 1;
                $('#ansListCre input').removeAttr("checked");
            }
        })

        // 新增和刪除選項textbox
        $('#BtnNewChoiceCre').click(function () {
            var divChoiceCre = `<div class="form-group choiceCre">
                                            <label class="control-label my-2 font-weight-bold h5">選項</label>
                                            <div class="row align-items-center px-3" style="flex-wrap:nowrap">
                                                <input id="checkBox1" type="checkbox" name="FCorrectAnswer" class="mr-1" onclick="doCheckCre(this)" style="width:28px;height:25px"/>
                                                <input asp-for="FChoice" class="form-control txtAns" style="margin:0 20px 0 10px"/>
                                                <span asp-validation-for="FChoice" class="text-danger"></span>
                                                <button class="tableBtn fas fa-trash-alt delBtnCre" type="button" style="border-radius: 5px; width: 60px;"></button>
                                            </div>
                                        </div>`
            $('#ansListCre').append(divChoiceCre);
        })
        $("#outdivCre").on("click", ".delBtnCre", function () {
            $(this).closest(".choiceCre").remove();
        });

        // 將所有選項存入Array
        $('#createNew').click(function () {
            var ansArr = [];
            var selectAns = $("#ansListCre input[type='checkbox']:checked").length;
            var emptyChoice = 0;
            $('#ansListCre').find('.txtAns').each(function () {
                if ($(this).val() == "") {
                    emptyChoice++;
                }
            })
            if ($('#FQuestionCre').val() == "") {
                Swal.fire("請輸入題目");
            } else if ($('#FSubjectIdSel').val() == "") {
                Swal.fire("請選擇此題所屬技能類別");
            }
            else if (selectAns < 1) {
                Swal.fire("請選擇此題正確答案");
            } else if (emptyChoice > 0) {
                Swal.fire("選項內容不得為空");
            }
            else {
                $('#ansListCre > div').each(function (idx, item) {
                    var ans = {}
                    var c = $(item).find(':checkbox').prop('checked');
                    ans.FCorrect = c ? 1 : 2;
                    ans.Fchoice = $(item).find(':text').val();
                    ansArr.push(ans);
                })
                var jsondata = JSON.stringify({
                    FSubjectId: $('#FSubjectIdSel').val(),
                    FQuestion: $('#FQuestionCre').val(),
                    FQuestionTypeId: $('#FQuestionTypeIdSelCre').val(),
                    FChoiceList: ansArr,
                    FLevel: $('.levelCre').val()
                })
                $.ajax({
                    url: "@Url.Content("~/QuestionBank/Create")",
                    type: "POST",
                    contentType: "application/json",
                    data: jsondata
                }).done(function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        $('.modalCre').modal('hide');
                        searchQuestion();
                    })
                })
            }
        })

        $('.modalCre').on('hidden.bs.modal', function () {
            $('#ansListCre .choiceCre:not(:first-child)').remove();
            $('#outdivCre input[type="text"]').each(function () {
                $(this).val('');
            })
            $('#ansListCre input').removeAttr("checked");
            // TODO2:關閉後星星數量改為1
            $('.levelCre').find('option[value="1"]').attr("selected", true);
        });

//-------------------------------------------Create New Question End--------------------------------

//-----------------------------Create New TestPaper---------------------------------------------

    // 題目選取
        function passToPaper(checkboxid) {
        var t = $('#' + checkboxid).prop('checked');
        if (t) {
            var rowid = "r" + checkboxid;
            var currentRow = $('#' + checkboxid).closest("tr");
            var getQuestion = currentRow.find('td').eq(2).html();
            $('#testTable > tbody').append('<tr id = ' + rowid + '><td>' + getQuestion + '</td></tr>');
        } else {
            var rowid = "r" + checkboxid;
            $('#testTable > tbody').find('#' + rowid).remove();
            }
            var currentSelectCount = $('#testTable > tbody > tr').length;
            $('#spanSelCount').text("已選 " + currentSelectCount + " 項");
        }

        //清空選單
        $('#resetList').click(function () {
            console.log("reset");
            $('#selectedQuestionListTb').empty();
            var currentSelectCount = $('#testTable > tbody > tr').length;
            $('#spanSelCount').text("已選 " + currentSelectCount + " 項");
            //$('#questionTable').find("input[type='checkbox']").each(function () {
            $("input[type='checkbox']").each(function () {
                $(this).prop('checked', false);
            })
        })

        // 新增試卷
        $('#createPaper').click(function () {
            var selectList = [];
            var QuestionList = $('#testTable > tbody > tr').length;
            if (QuestionList < 1) {
                Swal.fire("尚未選取題目");
            } else if ($('#FpaperName').val() == "") {
                Swal.fire("請輸入試卷名稱");
            } else if ($('#FSubject').val() == "") {
                Swal.fire("請選擇試卷主要測試的技能類別");
            }
            else {
                $('#testTable > tbody > tr').each(function (idx, item) {
                    var queid = {};
                    var sub = $(item).find('.subjectId').val();
                    var que = $(item).find('.questionId').val();
                    queid.FSubjectId = sub;
                    queid.fQuestionId = que;
                    selectList.push(queid);
                })
                var newPaperJson = JSON.stringify({
                    FDesignerAccount: $('#FDesignerAccount').val(),
                    FTestPaperName: $('#FpaperName').val(),
                    FBSubjectId: $('#FSubject').val(),
                    FNote: $('#FPaperNote').val(),
                    SelectQuestionList: selectList,
                })
                $.ajax({
                    url: "@Url.Content("~/TestPaperBank/CreatNewPaper")",
                    type: "POST",
                    contentType: "application/json",
                    data: newPaperJson
                }).done(function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.replace("@Url.Content("~/TestPaperBank/Home")");
                    })
                })
            }
        })
//-----------------------------Create New TestPaper End---------------------------------------------

        // 刪除不需要的jquery程式
    var currentSlide = 0,
        $slideContainer = $('.slide-container'),
        $slide = $('.slide'),
        slideCount = $slide.length,
        animationTime = 300;

    function setSlideDimensions() {
        var windowWidth = $(window).width();
        $slideContainer.width(windowWidth * slideCount);
        $slide.width(windowWidth);
    }

    function generatePagination() {
        var $pagination = $('.pagination');
        for (var i = 0; i < slideCount; i++) {
            var $indicator = $('<div>').addClass('indicator'),
                $progressBarContainer = $('<div>').addClass('progress-bar-container'),
                $progressBar = $('<div>').addClass('progress-bar'),
                indicatorTagText = $slide.eq(i).attr('data-tag'),
                $tag = $('<div>').addClass('tag').text(indicatorTagText);
            $indicator.append($tag);
            $progressBarContainer.append($progressBar);
            $pagination.append($indicator).append($progressBarContainer);
        }
        $pagination.find('.indicator').eq(0).addClass('active');
    }

        // 移動按鈕調整
        if (currentSlide == 0) {
            $('.previous').hide();
            $('.paperCreate').hide();
            $('.next').show();
        } else {
            $('.previous').show();
            $('.next').hide();
            $('.paperCreate').show();
        }
    function goToNextSlide() {
        if (currentSlide >= slideCount - 1) {
            $('.previous').show();
            return;
        } else {
            currentSlide++;
            if (currentSlide == 0) {
                $('.previous').hide();
                $('.paperCreate').hide();
                $('.next').show();
            } else {
                $('.previous').show();
                $('.paperCreate').show();
                $('.next').hide();
            }
            console.log(currentSlide);
        }
        var windowWidth = $(window).width();
        //currentSlide++;
        $slideContainer.animate({
            left: -(windowWidth * currentSlide)
        });
        setActiveIndicator();
        $('.progress-bar').eq(currentSlide - 1).animate({
            width: '100%'
        }, animationTime);
    }

    function goToPreviousSlide() {
        var windowWidth = $(window).width();
        currentSlide--;
        $slideContainer.animate({
            left: -(windowWidth * currentSlide)
        }, animationTime);
        setActiveIndicator();
        $('.progress-bar').eq(currentSlide).animate({
            width: '0%'
        }, animationTime);
        console.log(currentSlide);
        if (currentSlide <= 0) {
            $('.previous').hide();
            $('.paperCreate').hide();
            $('.next').show();
            return;
        } else {
            $('.previous').show();
            $('.paperCreate').show();
            $('.next').hide();
        }
    }

    function postitionSlides() {
        var windowWidth = $(window).width();
        setSlideDimensions();
        $slideContainer.css({
            left: -(windowWidth * currentSlide)
        }, animationTime);
    }

    function setActiveIndicator() {
        var $indicator = $('.indicator');
        $indicator.removeClass('active').removeClass('complete');
        $indicator.eq(currentSlide).addClass('active');
        for (var i = 0; i < currentSlide; i++) {
            $indicator.eq(i).addClass('complete');
        }
    }

    setSlideDimensions();
    generatePagination();
    $(window).resize(postitionSlides);
    $('.next').on('click', goToNextSlide);
    $('.previous').on('click', goToPreviousSlide);
    </script>
}
