@addTagHelper *, MSITTeam1
@model IEnumerable<MSITTeam1.ViewModels.CCompanyBasicViewModel>

@*<link href="~/css/Edit.css" rel="stylesheet">*@
<style>
    .click-upload-text {
        position: absolute;
        bottom: -10px;
        left: calc(50% - 54px);
    }
</style>
@foreach (var item in Model)
{

    <div class="row">
        <div class="col-md-8">
            <div class="inputstyle">
                <label>@Html.DisplayNameFor(model => model.CompanyTaxid)：</label>
                <span>@Html.DisplayFor(modelItem => item.CompanyTaxid)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FContactPerson)：</label>
                <span>@Html.DisplayFor(modelItem => item.FContactPerson)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FPhone)：</label>
                @{ if (item.FPhoneCode != null)
                    {
                        <span>(0@(item.FPhoneCode))-@Html.DisplayFor(modelItem => item.FPhone)</span>
                    }
                    else
                    {
                        <span>@(item.FPhoneCode)@Html.DisplayFor(modelItem => item.FPhone)</span>
                    }
                }

            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FFax)：</label>
                @{ if (item.FFaxCode != null)
                    {
                        <span>(0@(item.FFaxCode))-@Html.DisplayFor(modelItem => item.FFax)</span>
                    }
                    else
                    {
                        <span>@(item.FFaxCode)@Html.DisplayFor(modelItem => item.FFax)</span>
                    }
                }
            </div>
        </div>
        <div class="col-md-4 text-center" style="position:relative;">
            <form name="LogoUpload">
                <div class="image-upload mt-0">
                    <input type="hidden" name="id" value="@ViewBag.account" />
                    <input type="file" accept="image/*" id="picture-file" name="img" class="p-0" style="visibility: hidden; width: 0; height: 0; margin: auto;" />
                    <label for="picture-file" style="border: 1px solid #dee2e6; overflow: hidden; ">
                        <img class="mt-0" id="picture" src="../images/company/@ViewBag.picture" style=" float: right; width: 200px; height: 200px" title="上傳LOGO圖片" alt="點擊上傳LOGO" />
                    </label>
                    <small class="click-upload-text text-danger">請點擊上方上傳圖片</small>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FAddress)：</label>
                <span>@Html.DisplayFor(modelItem => item.FCity)@Html.DisplayFor(modelItem => item.FDistrict)@Html.DisplayFor(modelItem => item.FAddress)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FEmail)：</label>
                <span>@Html.DisplayFor(modelItem => item.FEmail)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FCapitalAmount)：</label>
                <span>@Html.DisplayFor(modelItem => item.FCapitalAmount)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FWebsite)：</label>
                <span>@Html.DisplayFor(modelItem => item.FWebsite)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FRelatedLink)：</label>
                <span>@Html.DisplayFor(modelItem => item.FRelatedLink)</span>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FBenefits)：</label><br />
                <div class="content">@Html.DisplayFor(modelItem => item.FBenefits)</div>
            </div>
            <hr />
            <div class="inputstyle">
                <label for="FBan"> @Html.DisplayNameFor(model => model.FCustomInfo)：</label><br />
                <div class="content">@Html.DisplayFor(modelItem => item.FCustomInfo)</div>
            </div>
            <hr />
        </div>
    </div>
    <div class="d-flex">
        <button class="btn-style-two " type="button" data-toggle="modal" data-target="#staticBackdrop">修改資料</button>
        <button class="btn-style-two " type="button" id="previewpage">預覽資料</button>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改資料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <vc:company-basic-edit id="@ViewBag.account"></vc:company-basic-edit>
            </div>
        </div>
    </div>
</div>




