@model IEnumerable<MSITTeam1.Models.TClassInfo>

@{
    ViewData["Title"] = "Index";
}

@section Style{
    <link href="/css/Product.css" rel="stylesheet">
}
<div class="container">
    <form>
        <div class="form-group row justify-content-center py-4">
            <div class="col-md-5">
                <div class="input-group input-group-rounded">
                    <input type="text" placeholder="請輸入關鍵字" name="txtKeyword" class="form-control">
                    <span class="input-group-btn"><button class="btn bg-blue btn-group-right" type="submit"><i class="fas fa-search text-light"></i></button></span>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        @{
            foreach (var item in Model)
            {
                ViewBag.prodId = item.FClassExponent;
                <div class="col-md-4 col-lg-3 text-center">
                    <figure class="product-item">
                        <div class="icons">
                            <a href="javascript:void(0);" class="add-to-cart-index" onclick="addToCartBtn('@item.FClassExponent')" title="加入購物車" style="z-index:9"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <a class="d-block" asp-action="classDetails" asp-route-id="@item.FClassExponent">
                            <img src="@item.FClassPhotoPath" alt="" />
                        </a>
                        <figcaption>
                            <h5>@Html.DisplayFor(modelItem => item.FClassname)</h5>
                            <div class="price h5">NT$@Html.DisplayFor(modelItem => item.FClassmoney)</div>
                        </figcaption>
                    </figure>
                </div>
            }
        }
    </div>
    <div id="ProductPagination" class="row my-4"></div>
</div>
@section Scripts{
    <script>

        var snippet = [].slice.call(document.querySelectorAll('.hover'));
        if (snippet.length) {
            snippet.forEach(function (snippet) {
                snippet.addEventListener('mouseout', function (event) {
                    if (event.target.parentNode.tagName === 'figure') {
                        event.target.parentNode.classList.remove('hover')
                    } else {
                        event.target.parentNode.classList.remove('hover')
                    }
                });
            });
        };

        $(function () {
            initPagination('.product-item', 12, '#ProductPagination')
        });

      //判斷是否已登入
                    function addToCartBtn(id) {
                          if ("@ViewBag.account" == "") {
                Swal.fire({
                    icon: 'info',
                    title: '請先登入會員',
                    showConfirmButton: false,
                    timer: 1300
                })
            } else {
                        $.ajax({
                            url: "@Url.Content("~/Products/ClassAddToCart")",
                            type: "POST",
                            dataType: "text",
                            data: { id: id },
                            success: function () {
                                Swal.fire({
                                    icon: 'success',
                                    title: '已加入購物車',
                                    showConfirmButton: false,
                                    timer: 1200
                                })
                                $("#classshoppingCartReload").load(location.href + " #classshoppingCartReload");
                                //$(".cart-wrapper").animate({}, 500, function () {
                                //    $(this).addClass("cart-wrapper-toggle");
                                //})
                            }
                        })
                    }
                }
    </script>
}
