@model IList<MSITTeam1Admin.ViewModels.CQuestionBankViewModel>
@using System.Collections.Generic;
@addTagHelper *, MSITTeam1

@*QBListAdmin*@
@{
    ViewData["Title"] = "List";
}
<link rel="stylesheet" href="~/css/barRating.css" />

<table class="table table-striped table-hover" id="question">
    <thead>
        <tr>
            <th style="width:160px">@Html.DisplayNameFor(model => model[0].FSubjectId)</th>
            <th>@Html.DisplayNameFor(model => model[0].FQuestion)</th>
            <th style="width:130px;">@Html.DisplayNameFor(model=> model[0].FSubmitterId)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model[0].FLevel)</th>
            <th class="text-center" style="width:130px;">@Html.DisplayNameFor(model => model[0].FState)</th>
            <th class="text-center" style="width:130px;" id="editGroup">編輯</th>
            <th class="text-center" style="width:60px;" id="detailGroup"></th>
        </tr>
    </thead>
    <tbody class="questionTable">

        @{
            if (Model != null)
            {
                string subject = "";
                int quesId = 0;
                foreach (var item in Model)
                {
                    if (item.FSubjectId != subject || item.FQuestionId != quesId)
                    {
                        subject = item.FSubjectId;
                        quesId = item.FQuestionId;
                <tr class="questionRows">
                    <td>
                        @Html.DisplayFor(modelItem => item.FSubjectId)
                    </td>
                    <td class="qIdForSearch">
                        @Html.DisplayFor(modelItem => item.FQuestion)
                        <input type="hidden" name="sub" class="subjectId" value="@Html.DisplayFor(modelItem => item.FSubjectId)" />
                        <input type="hidden" class="questionId" value="@Html.DisplayFor(modelItem => item.FQuestionId)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSubmitterId)
                    </td>
                    <td class="text-center">
                        <input type="hidden" class="quesLevel" value="@Html.DisplayFor(modelItem => item.FLevel)" />
                        <div class="show_rated_3_5"></div>
                    </td>
                    <td class="text-center">
                        <input type="hidden" class="quesState" value="@Html.DisplayFor(modelItem => item.FState)" />
                        <div>狀態</div>
                    </td>
                    <td class="text-center editQButton" style="width:130px;">
                        <input type="button" data-toggle="modal" data-target="#questionEdit" class="editQuestion" value="編輯" />
                        <input type="button" class="delQuestion" value="刪除" />
                    </td>
                    <td class="text-center detailQButton" style="width:60px;">
                        <input type="button" data-toggle="modal" data-target="#questionDetail" class="detailQuestion" value="詳情" />
                    </td>
                </tr>
                    }
                }
            }
        }

    </tbody>
</table>

<div id="QuestionPagination" class="row my-4"></div>

<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="questionEdit" tabindex="-1" aria-labelledby="questionEdit" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目修改</h5>
                <button id="testcloseModalQ" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditModal">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="questionDetail" tabindex="-1" aria-labelledby="questionDetail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目內容</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="DetailModal">

            </div>
        </div>
    </div>
</div>


<script>

    // 難度StarBar
    $('.quesLevel').each(function () {
        var i = $(this).val();
        var temp = "show_rated_" + i;
        $(this).next().attr("class", temp);
    })

    // 题目状态
    $('.quesState').each(function () {
        var i = $(this).val();
        var temp = "-";
        if (i == "1") {
            temp = "未公開";
        } else if (i == "2") {
            temp = "公開";
        } else if (i == "0") {
            temp = "鎖定";
        }
        $(this).next().text(temp);
    })

    // 題目編輯
    $('.editQuestion').click(function () {
        console.log("edit");
                jsondata = JSON.stringify({
                    Subjects: $(this).parents("tr").find('.subjectId').val(),
                    questionID: $(this).parents("tr").find('.questionId').val()
                })
            $.ajax({
                url: "@Url.Content("~/QuesBankSysAdmin/EditByVC")",
                type: "POST",
                contentType: "application/json",
                data: jsondata,
                success: function (result) {
                    $('#EditModal').html(result);
                }
            })
    })

    // 題目內容
    $('.detailQuestion').click(function () {
            jsondata = JSON.stringify({
                Subjects: $(this).parents("tr").find('.subjectId').val(),
                questionID: $(this).parents("tr").find('.questionId').val()
            })
        $.ajax({
            url: "@Url.Content("~/QuesBankSysAdmin/DetailByVC")",
            type: "POST",
            contentType: "application/json",
            data: jsondata,
            success: function (result) {
                $('#DetailModal').html(result);
            }
        })
    })

    // 題目刪除
    $('.delQuestion').click(function () {
        Swal.fire({
            title: '確定刪除嗎?',
            text: "刪除操作無法撤銷",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '刪除',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                var sub = $(this).parents("tr").find('.subjectId').val();
                var quesId = $(this).parents("tr").find('.questionId').val();
               async function deleteQues() {
                   const responseDelete = await fetch("@Url.Content("~/QuesBankSysAdmin/Delete")" + `?subjectID=${sub}&questionID=${quesId}`);
                   const data = await responseDelete.text()
                   Swal.fire(data);
                   $('#testsearch').trigger('click');
                }
                deleteQues();
            }
        })
    })

</script>