@model MSITTeam1.Models.TJobVacancy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TJobVacancy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSalaryMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSalaryMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmployeesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEmployeesType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FWorkAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FWorkAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FWorkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FWorkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FLeaveSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FLeaveSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FWorkExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FWorkExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FNeedPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FNeedPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FJobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FJobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F.FCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.FAccountNavigation.FAccount)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FJoblist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FJoblist.FClass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FJobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
