@addTagHelper *, MSITTeam1
@model MSITTeam1.ViewModels.TCompanyResumeReceiveViewModel

@{
    ViewData["Title"] = "StudentResumeDetail";
}
<div class="container-fluid p-4" style="background:#EFEFEF">
    <div class="container">
        <h2 class="pt-3">
            <span class="icon icon-star-large"></span> 應徵職缺：@Model.JobName
            <span class="icon icon-reply-large"></span>
            <span class="icon icon-delete-large"></span>
        </h2>
        <hr />
        <div class="meta-data p-3">
            <p>
                向<span class="font-weight-bold color-blue">
    @Model.FCompanyName
</span>寄出的求職信
<br />
    <span class="date pr-3">建立時間：@(Convert.ToDateTime(Model.CreatTime).ToString("yyyy-MM-dd"))</span>
    <span class="date">最後修改時間：@(Convert.ToDateTime(Model.ModifyTime).ToString("yyyy-MM-dd"))</span>
</p>
        </div>
        <div class="body p-3 h6 border bg-white shadow" style="border-radius:1.25rem;">
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactPhone</label>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label font-weight-bold"></label>：
                <label class="col-form-label">@Model.ContactEmail</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">可聯絡時間</label>：
                <label class="col-form-label">@Model.TimeToContact</label>
            </div>
            <div class="form-group">
                <label class="control-label font-weight-bold">求職信</label>：
                <pre class="py-2" style="line-height:1.5rem;">@Model.CoverLetter</pre>
            </div>
            <div>
                <img src="data:image/gif;base64,@Model.ResumeImage" />
            </div>
        </div>
    </div>
</div>
@*<button class="btn-style-two" type="submit" asp-controller="MemberPostMessage" asp-action="OutboxIndex">回上一頁</button>*@

@section Scripts{
    <script>
        flatpickr('#InterviewTime', {
            minDate: 'today',
            dateFormat: 'Y-m-d'
        });
    </script>
}
@*@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResumeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyTaxid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComReadOrNot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeToContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ResumeSendId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ResumeSendId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ResumeSendId">Delete</a>
                </td>
            </tr>
    }*@
